node_modules
npm-debug.log
dist
.git
.gitignore
.github
.vscode
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
Dockerfile
README.md
vendor
